<!DOCTYPE HTML>
<html>

<head>
  <title>Breezy</title>
  <style>
    body {
      padding: 50px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }
  </style>
</head>

<body>
  <h1>Breezy</h1>
  <p>状态正常：<%= currentTime %></p>
</body>

</html>